img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt*="fig"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

img[alt*="fig"].is-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: red;
  color: red;
}